<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangkit.capstone.c22_ps321">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPlants">
        <activity
            android:name=".activities.PhoneLoginActivity"
            android:exported="false"
            android:label="@string/label_login_with_phone"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.DetailActivity"
            android:exported="false"
            android:label="@string/detail_plants"
            android:parentActivityName=".activities.HistoryActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:label="@string/tv_my_profile"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false"
            android:label="@string/title_history"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ScanActivity"
            android:exported="false"
            android:label="@string/title_scan"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false"
            android:parentActivityName=".activities.ScanActivity"
            android:label="@string/label_activity_result" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MyPlants.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyPlants.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bangkit.capstone.c22_ps321"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>